<!--<mapper namespace="User">-->
  <!--sql的唯一标识由:namespace.id来组成:statementId-->
  <!-- <select id="selectList"  resultType="com.lag.pojo.User">
        select * from user
    </select>-->

    <!--<select id="selectOne" parameterType="com.lag.pojo.User" resultType="com.lag.pojo.User">
        select * from user where id= #{id} and userName= #{userName}
    </select>-->

<!--因为在invoke()方法中没有办法获取映射配置文件的sql唯一标识namespace.id,但是这两个值都可通过参数method得到-->
<mapper namespace="com.lag.dao.IUserDao">
   <select id="findAll"  resultType="com.lag.pojo.User">
        select * from user
    </select>

   <select id="findByCondition" parameterType="com.lag.pojo.User" resultType="com.lag.pojo.User">
        select * from user where id= #{id} and userName= #{userName}
    </select>

    <insert id="addUser" parameterType="com.lag.pojo.User" resultType="Integer">
         insert INTO `user`(id,userName) VALUES(#{id},#{userName})
    </insert>

    <update id="updateUser" parameterType="com.lag.pojo.User" resultType="Integer">
         UPDATE `user` set userName=#{userName} WHERE id=#{id}
    </update>

    <delete id="deleteUser" parameterType="Integer" resultType="Integer">
         DELETE  FROM`user` where id=#{id}
    </delete>

</mapper>